
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>© TIBE-TECH SARL — Innovation, Fiabilité, Performance 🇲🇱. <br>Adresse : Bamako, Mali Tél : +223 76 05 70 43 Email : info@tibetech-sarl.com</p>

  </div>
</div>
</body>
</html>
